@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #10101A;
    --seconday-color: #5DFF86;
    --tertiary-color: #ffffff;
    --font-family: "Poppins", sans-serif;
    --site-width: 1240px;
    --site-spacing: 40px;
    --intersection-spacing: 60px;
    --transtions: all .6s ease;;
}

body{
    background-color: var(--primary-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: var(--site-width);
    padding-inline: var(--site-spacing);
    margin-inline: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--tertiary-color);
}

p, li, span, strong{
   font-family: var(--font-family);
   color: var(--tertiary-color);
}

a{
    font-family: var(--font-family);
    color: var(--seconday-color);
}

h1{
    font-size: 2.75rem;
    line-height: 1.15;
    letter-spacing: -0.075rem;
}

h2{
    font-size: 2.5rem;
    line-height: 1.15;
    letter-spacing: -0.075rem;
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.01rem;
}

.para-spacing{
    margin-block-start: 0.5rem;
}

#primary-button{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.05rem;
    background-color: var(--seconday-color);
    color: var(--primary-color);
    padding-inline: 1.5rem;
    padding-block: .75rem;
    border-radius: 3rem;
    margin-block-start: 1.75rem;
    transition: var(--transtions);
}

#primary-button:hover{
    transform: scale(1.075);
}

.content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.5rem;
    align-items: center;
}

/* Header Section Style Start's Here */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding-block: 1.25rem;
}

.header .site-logo img{
    width: 6rem;
    height: auto;
}

.header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  column-gap: 2.5rem;
}

.header nav .theme-mode{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: .75rem;
}

.header nav .theme-mode img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.header nav .theme-mode img:first-child{
   display: none;
}

.header nav .theme-mode img:last-child{
    width: 1.75rem;
    height: 1.75rem;
}

.header nav ul{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    column-gap: 2.5rem;
}

.header nav ul li a{
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 1.1rem;
    transition: var(--transtions);
}

.header nav ul li a:hover{
    color: var(--seconday-color);
}

.header .hamburger-menu{
    display: none;
}

.header .hamburger-menu img{
    width: 1.75rem;
    height: auto;
}

/*Hero Section Style Start's Here */

.hero-section{
    padding-block-end: var(--intersection-spacing);
    min-height: calc(100dvh - 5.409375rem);
    display: grid;
    align-items: center;
}

.hero-profile img{
    max-width: 34.375rem;
    width: 100%;
    height: auto;
}

.hero-content{
    max-width: 34.375rem;
}

.social-media-icons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    flex-flow: row nowrap;
    margin-block-start: 2rem;
}

.social-media-icons img{
    width: 1.75rem;
    height: 1.75rem;
    transition: var(--transtions);
}

.social-media-icons img:hover{
    transform: scale(1.25);
}

.hero-content p{
    margin-block-start: .75rem;
}

/* About Me Section Style Start's Here */

.about-me-section{
    padding-block-end: var(--intersection-spacing);
}

.about-me-image img{
    max-width: 34.375rem;
    width: 100%;
    height: auto;
}

.about-me-content h2{
    margin-block-end: 0.75rem;
}