/* Large Screen Responsive Breakpoint */
@media screen and (max-width: 62rem) {
  .header nav {
    display: none;
  }

  .header .hamburger-menu {
    display: block;
  }

  .content-wrapper {
    row-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-content {
    max-width: 100%;
    order: 1;
  }

  .hero-profile img,
  .about-me-image img {
    max-width: 80%;
    display: block;
    margin-inline: auto;
  }
}

/* Medium Screen Responsive Breakpoint */
@media screen and (max-width: 48rem) {
  :root {
    --site-spacing: 20px;
    --intersection-spacing: 40px;
    --skill-progress-grid: 5.625rem;
  }

  h1,
  h2,
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .header .site-logo img {
    width: 5.25rem;
  }

  .hero-section {
    margin-block-start: 1.25rem;
  }

  .hero-section .content-wrapper {
    row-gap: 2.25rem;
  }

  .hero-profile img,
  .about-me-image img {
    max-width: 100%;
  }

  .my-skills-section .my-skills-wrapper {
    gap: 1.06rem;
  }

  .skills-progress-bar {
    width: 90px;
    height: 90px;
    justify-self: center;
  }

  .progress-circle {
    width: 80px;
    height: 80px;
  }

  .skills-progress-bar .progress-circle img {
    width: 45px;
    height: 45px;
  }

  .my-certificates-section h3 {
    margin-block-end: 2.5rem;
  }

  .my-certificates-wrapper .certificate-card {
    padding: 1.75rem;
  }

  .contact-me-section form input,
  .contact-me-section form textarea {
    padding: 1.25rem;
    font-size: 1rem;
  }

  #footer .footer-content {
    justify-content: center;
  }

  #footer .footer-content .contact-details a {
    font-size: 1rem;
  }
}
