/* Large Screen Responsive Breakpoint */
@media screen and (max-width: 62rem) {
  #header {
    padding-block: 0.85rem;
  }

  #header nav {
    display: none;
    position: absolute;
    left: 0%;
    top: calc(4.609375rem - 10%);
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background-color: var(--primary-color);
    padding: var(--site-spacing);
  }

  #header nav ul {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  #header nav ul li {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }

  #header nav ul li a {
    display: block;
    padding-block: 1rem;
    width: 100%;
  }

  #header nav .theme-mode {
    margin-block-start: 1.75rem;
  }

  #header .hamburger-menu {
    display: block;
  }

  #header .hamburger-menu img:last-child {
    display: none;
  }

  .active-menu #header {
    background-color: var(--primary-color);
  }

  .active-menu #header nav {
    display: block;
  }

  .active-menu #header .hamburger-menu img:first-child {
    display: none;
  }

  .active-menu #header .hamburger-menu img:last-child {
    display: block;
  }

  .content-wrapper {
    row-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-content {
    max-width: 100%;
    order: 1;
  }

  .hero-profile img,
  .about-me-image img {
    max-width: 80%;
    display: block;
    margin-inline: auto;
  }
}

/* Medium Screen Responsive Breakpoint */
@media screen and (max-width: 48rem) {
  :root {
    --site-spacing: 20px;
    --intersection-spacing: 40px;
    --skill-progress-grid: 5.625rem;
  }

  h1,
  h2,
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  #header .site-logo img {
    width: 5.25rem;
  }

  #header nav {
    top: calc(4.2773125rem - 10%);
  }

  .hero-section {
    margin-block-start: 1.25rem;
  }

  .hero-section .content-wrapper {
    row-gap: 2.25rem;
  }

  .hero-profile img,
  .about-me-image img {
    max-width: 100%;
  }

  .my-skills-section .my-skills-wrapper {
    gap: 1.06rem;
  }

  .skills-progress-bar {
    width: 90px;
    height: 90px;
    justify-self: center;
  }

  .progress-circle {
    width: 80px;
    height: 80px;
  }

  .skills-progress-bar .progress-circle img {
    width: 45px;
    height: 45px;
  }

  .my-certificates-section h3 {
    margin-block-end: 2.5rem;
  }

  .my-certificates-wrapper .certificate-card {
    padding: 1.75rem;
  }

  .contact-me-section form input,
  .contact-me-section form textarea {
    padding: 1.25rem;
    font-size: 1rem;
  }

  #footer .footer-content {
    justify-content: center;
  }

  #footer .footer-content .contact-details a {
    font-size: 1rem;
  }
}
