@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #10101a;
  --seconday-color: #5dff86;
  --tertiary-color: #ffffff;
  --font-family: "Poppins", sans-serif;
  --site-width: 1240px;
  --site-spacing: 40px;
  --intersection-spacing: 60px;
  --transtions: all 0.6s ease;
  --progress: 0%;
  --skill-progress-grid: 10rem;
}

body {
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: var(--site-width);
  padding-inline: var(--site-spacing);
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--tertiary-color);
}

p,
li,
span,
strong,
textarea,
input,
button {
  font-family: var(--font-family);
  color: var(--tertiary-color);
}

a {
  font-family: var(--font-family);
  color: var(--seconday-color);
}

h1 {
  font-size: 2.75rem;
  line-height: 1.15;
  letter-spacing: -0.075rem;
}

h2,
h3 {
  font-size: 2.5rem;
  line-height: 1.15;
  letter-spacing: -0.075rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

.para-spacing {
  margin-block-start: 0.5rem;
}

#primary-button {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05rem;
  background-color: var(--seconday-color);
  color: var(--primary-color);
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 3rem;
  margin-block-start: 1.75rem;
  transition: var(--transtions);
}

#primary-button:hover {
  transform: scale(1.075);
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
  align-items: center;
}

/* Header Section Style Start's Here */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding-block: 1.25rem;
}

.header .site-logo img {
  width: 6rem;
  height: auto;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  column-gap: 2.5rem;
}

.header nav .theme-mode {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 0.75rem;
}

.header nav .theme-mode img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header nav .theme-mode img:first-child {
  display: none;
}

.header nav .theme-mode img:last-child {
  width: 1.75rem;
  height: 1.75rem;
}

.header nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  column-gap: 2.5rem;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 500;
  font-size: 1.1rem;
  transition: var(--transtions);
}

.header nav ul li a:hover {
  color: var(--seconday-color);
}

.header .hamburger-menu {
  display: none;
}

.header .hamburger-menu img {
  width: 1.75rem;
  height: auto;
}

/* Hero Section Style Start's Here */

.hero-section {
  padding-block-end: var(--intersection-spacing);
  min-height: calc(100dvh - 5.409375rem);
  display: grid;
  align-items: center;
}

.hero-profile img {
  max-width: 34.375rem;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 0 rgba(93, 255, 134, 0.75));
  animation: pulse 2s infinite ease-in-out;
}

.hero-profile img:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 0 rgba(93, 255, 134, 0.75));
  }
  25% {
    filter: drop-shadow(0 0 25px rgba(93, 255, 134, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 50px rgba(93, 255, 134, 0.25));
  }
  75% {
    filter: drop-shadow(0 0 75px rgba(93, 255, 134, 0));
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(93, 255, 134, 0));
  }
}

.hero-content {
  max-width: 34.375rem;
}

.social-media-icons {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  flex-flow: row nowrap;
  margin-block-start: 2rem;
}

.social-media-icons img {
  width: 1.75rem;
  height: 1.75rem;
  transition: var(--transtions);
}

.social-media-icons img:hover {
  transform: scale(1.25);
}

.hero-content p {
  margin-block-start: 0.75rem;
}

/* About Me Section Style Start's Here */

.about-me-section {
  padding-block-end: var(--intersection-spacing);
}

.about-me-image img {
  max-width: 34.375rem;
  width: 100%;
  height: auto;
}

.about-me-content h2 {
  margin-block-end: 0.75rem;
}

/* Skills Section Style Start's Here */

.my-skills-section {
  padding-block: var(--intersection-spacing);
}

.my-skills-section h3 {
  margin-block-end: 2.5rem;
  text-align: center;
}

.my-skills-section .my-skills-wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--skill-progress-grid), 1fr)
  );
  align-items: center;
  justify-content: space-between;
  gap: 1.75rem;
}

.skills-progress-bar {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: transparent;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.skills-progress-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    var(--seconday-color) var(--progress),
    rgba(255, 255, 255, 0.2) 0%
  );
  z-index: -1;
}

.progress-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
}

.skills-progress-bar .progress-circle img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.skills-progress-bar:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 25px rgba(255, 255, 255, 0.25);
}

/* My Certificates Section Style Start's Here */

.my-certificates-section {
  padding-block: var(--intersection-spacing);
}

.my-certificates-section h3 {
  margin-block-end: 3rem;
  text-align: center;
}

.my-certificates-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.25rem;
  flex-flow: row wrap;
}

.my-certificates-wrapper .certificate-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2.25rem;
  border-radius: 0.95rem;
  transition: var(--transtions);
  background-color: transparent;
  flex-grow: 1;
  flex-basis: 18rem;
}

.my-certificates-wrapper .certificate-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-6px) scale(1.025);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.my-certificates-wrapper .certificate-card h4 {
  font-size: 1.45rem;
  margin-block-start: 1.25rem;
  margin-block-end: 0.25rem;
  line-height: 1.2;
}

/* My Project Section Style Start's Here */
.my-projects-section {
  padding-block: var(--intersection-spacing);
}

.my-projects-section h2 {
  text-align: center;
}

.my-projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.25rem;
  margin-block-start: 2.5rem;
}

.my-projects-wrapper .project-card {
  flex-grow: 1;
  flex-basis: 18rem;
  background-color: transparent;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.95rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  transition: var(--transtions);
}

.my-projects-wrapper .project-card img {
  width: 100%;
  border-radius: 0.9rem;
  margin-block-end: 1.25rem;
  transition: var(--transtions);
}

.my-projects-wrapper .project-card h4 {
  font-size: 1.5rem;
  margin-block-end: 0.25rem;
  transition: var(--transtions);
  line-height: 1.2;
}

.my-projects-wrapper .project-card p {
  font-size: 1rem;
}

.project-card:hover {
  transform: translateY(-6px) scale(1.025);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.project-card:hover h4 {
  color: var(--seconday-color);
}

.project-card:hover img {
  transform: scale(1.075) translateY(-0.3rem);
}

/*  Contact me Section Style Start's Here */

.contact-me-section {
  padding-block: var(--intersection-spacing);
}

.contact-me-section h2 {
  text-align: center;
}

.contact-me-section form {
  max-width: 34.0625rem;
  margin-inline: auto;
  margin-block-start: 1.25rem;
}

.contact-me-section form input,
.contact-me-section form textarea {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.9rem;
  outline: none;
  background-color: transparent;
  padding: 1.5rem;
  margin-block-start: 1rem;
  font-size: 1.1rem;
  transition: var(--transtions);
}

.contact-me-section form textarea {
  resize: vertical;
  min-height: 12.5rem;
}

.contact-me-section form #formSubmit {
  margin-block-start: 1.25rem;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  border-radius: 3rem;
  transition: var(--transtions);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.contact-me-section form #formSubmit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--seconday-color);
  width: 0%;
  height: 100%;
  transition: var(--transtions);
  z-index: -1;
}

.contact-me-section form #formSubmit:hover::before {
  width: 100%;
}

.contact-me-section form input:hover,
.contact-me-section form textarea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-me-section form input:focus,
.contact-me-section form textarea:focus {
  border-color: var(--seconday-color);
}

/* Footer Section Style Start's Here */

#footer .footer-content {
  padding-block: 1.75rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .footer-content .social-media-icons {
  margin-block-start: 0;
}

#footer .footer-content .contact-details {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex-flow: row nowrap;
}

#footer .footer-content .contact-details a {
  font-size: 1.1rem;
  display: block;
  color: var(--tertiary-color);
  text-decoration: none;
  border: 0.0625rem solid rgba(255, 255, 255, 0.25);
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  transition: var(--transtions);
}

#footer .footer-content .contact-details a:hover {
  border: 0.0625rem solid var(--seconday-color);
  color: var(--seconday-color);
  transform: translateY(-0.375rem);
}
