/* Large Screen Responsive Breakpoint */
@media screen and (max-width: 62rem){
    .header nav{
        display: none;
    }

    .header .hamburger-menu{
        display: block;
    }

    .content-wrapper{
       row-gap: 2rem;
       grid-template-columns: repeat(1, 1fr);
   }

   .hero-content{
     max-width: 100%;
     order: 1;
   }

   .hero-profile img{
    max-width: 100%;
   }
}

/* Medium Screen Responsive Breakpoint */
@media screen and (max-width: 48rem){
    :root{
        --site-spacing: 20px;
        --intersection-spacing: 40px;
    }

    .hero-section .content-wrapper{
       row-gap: 1.5rem;
   }
}